body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Noto Sans KR", sans-serif;
  font-size: 1em;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

input,
button {
  font-size: 1.3em;
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

body {
  background-size: 100% auto;
}

#outer {
  margin: 1% 0;
  text-align: center;
}

nav {
  display: inline-block;
  width: 20%;
  margin-right: 15px;
}

nav > div {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin-bottom: 13px;
  padding: 10px;
}

#location {
  padding-bottom: 10px;
  border: 1px solid #ff000000;
  border-bottom-color: #303030;
}

#location h1 {
  display: inline-block;
}

img[alt="location-icon"] {
  width: 30px;
}

#weather {
  padding-top: 10px;
}

#weather-description {
  display: inline-block;
}

#outer > div {
  width: 65%;
  vertical-align: top;
  display: inline-block;
}

header,
main {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

header {
  text-align: right;
}

header h1 {
  display: inline-block;
}

input[name="userName"] {
  width: 40%;
  display: inline-block;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

main {
  padding: 30px 50px;
}

main h1,
main form,
main ul > li {
  margin-bottom: 10px;
}

main h1,
main ul > li {
  text-align: left;
}

main ul {
  margin: 0 auto;
  width: 99%;
}

main li {
  padding: 5px 0;
  border-bottom: 1px solid #303030;
}

main ul h2 {
  width: 96%;
  display: inline-block;
  font-weight: 400;
}

main ul a {
  cursor: pointer;
  font-size: 2em;
  font-weight: 600;
}

input[name="todo"] {
  width: 95%;
  box-sizing: border-box;
}
